// Import page-specific CSS files here.
@import "home";

h1 {
  text-align: center;
}
.cards-container {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust transparency here */
  padding: 20px; /* Add padding for spacing */
}

.card-body {
  height: 150px;
  overflow:hidden;
  text-align: center

}

.card-price {
  margin-top: auto;
  text-align: right;

}
