// Import page-specific CSS files here.
@import "home";

.capsule-card-link {
  text-decoration: none;
  color: black;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.card-body {
  height: 150px;
  overflow:hidden;
  text-align: center

}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip .card-trip-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-trip h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-trip p {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-outline-pink {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  color: #ffffff;
  background-color:#e29578;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-outline-pink:hover {
  background-color:#e294784d;
  border-color: transparent;
  color:black
}
