<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add some space below the table */
  }
  th, td {
    padding: 8px; /* Add padding to the table cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Add bottom border to separate rows */
  }
  th {
    background-color: #f2f2f2; /* Add background color to header row */
  }
</style>

<h1>List of Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Capsule</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Status</th> <!-- Add price column header -->
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.capsule_id %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
