<div class="container my-3">
  <h1>My Dashboard</h1>
  <div class="row">
    <div class="col-6 border my-3 py-3 rounded bg-light">
      <h2>My Profile</h2>
    </div>
    <div class="col-6 border my-3 py-3 rounded bg-light">
      <h2>My Upcoming Bookings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 border py-3 rounded bg-light">
      <h2>My Capsule</h2>
    </div>
  </div>
</div>
