<div class="banner">
  <div class="container">
    <h1><strong>Welcome</strong></h1>
    <p><em>Discover Your Perfect Retreat</em></p>
    <a>
      <% if user_signed_in? %>
        <%= link_to "Find a capsule", capsules_path, class: "btn btn-outline-light" %>
      <% else %>
        <%= link_to "Find a capsule", capsules_path, class: "btn btn-outline-light" %>
      <% end %>
    </a>
  </div>
</div>
