<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>What should we have here?</p>
<ul>
  <li> Log-in </li>
  <li> Link to View of all the capsules? </li>
</ul>

<%= link_to "Find a capsule", capsules_path, class: "btn btn-primary" %>
