.navbar {
  width: 100%;
  height: 85px;
  margin-bottom: 20px;
  background-color: rgb(226, 149, 120);
  color: rgb(237, 246, 249);

}

.navbar-brand {
  padding-left: 10px;
}

.logo-img {
  top: 5px;
  width: 60px; /* Adjust the width as needed */
}
.nav-link {
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
  padding-right: 10;
}
