// //.navbar {
// //   width: 100%;
// //   height: 80px;
// //   margin: 0;
// //   background-color: rgb(226, 149, 120);
// //   color: rgb(237, 246, 249);
// //   justify-content: space-between;
// // }

// // .navbar-brand {
// //   padding-left: 10px;
// // }

// // .logo-img {
// //   top: 5px;
// //   width: 10px; /* Adjust the width as needed */
// // }
// // .nav-link {
// //   font-family: 'Cormorant', serif;
// //   font-weight: 600;
// //   font-size: 25px;
// //   margin-right: 20px;
// //   padding-right: 10;
// // }

.navbar-lewagon{
  justify-content: space-between;
  background: rgb(226, 149, 120);
  color: rgb(237, 246, 249);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

img.img-logo {
  width: 50px;
  border-radius: 20%;
}
