// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "pages/dashboard";
@import "components/button_test";
@import "components/booking-box";

body {
  font-family: 'Cormorant', serif;
  font-size: 20px;

  h1 {
    font-family: 'Cormorant', serif;
    font-weight: bold;
  }

  h2 {
    font-family: 'Cormorant', serif;
  }

  h3 {
    font-family: 'Cormorant', serif;
  }
}

.booking-box {
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

.button-test {
  align-items: center;
  background-color: rgb(255, 186, 161);
  border-radius: 24px;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3C4043;
  margin-top: 10px;
  margin-right: 15px;
  float: right;
  &:hover {
    background: rgb(245, 217, 207);
  }
}
